body {
    margin-left : 1em;
}

.games {
    list-style-type: none;
    margin : 0;
    padding : 0;
}

.game {
    display : inline-block;
    height: 10em;
    margin-bottom: 1em;
}

.game.line {
    display : list-item;
}

.txt {
    display : none;
    position : relative;
    bottom : 50%;
}

.thumb_wrapper {
    width : 10em;
    height : 10em;
    display : inline-block;
    position: relative;
    margin: 1em;
    border : .3em solid #bbb;
}

.thumb {
    width : auto;
    height: auto;
    max-width : 100%;
    max-height: 100%;
    display : block;
    padding: 0;
    margin: auto;
    position : absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}